
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
.logo{
      font-family: "Medula One", system-ui;
      font-size: 40px;
font-weight: bold;
}

nav a {
  color: #000; /* Change to white if your background is dark */
  font-weight: 500;
}

nav a:hover{
    color:indianred;
}

/* LOGO SECTION */
.tech-logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .tech-logo:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
  height: 220px;          /* Set a fixed height */
  object-fit: cover;      /* Crop image to fit (no stretching) */
  object-position: top;   /* Align from top */
}
.card {
  border: none;           /* Optional: cleaner look */
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px); /* Hover effect */
}